# Ignore Python virtual environment folders
venv/
frontend/node_modules/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Logs
*.log

# VSCode settings (optional)
.vscode/
